.sheliak-start-menu { -arrow-rise: 8px; }

.sheliak-start-menu.windows10 .popup-menu-content { border-radius: 0; }

.sheliak-start-menu.windows11 .popup-menu-content { border-radius: 12px; }

.sheliak-start-content { spacing: 16px; padding: 12px; }

.sheliak-start-search { min-height: 28px; }

.sheliak-start-headings { spacing: 16px; font-weight: bold; }

.sheliak-start-body { spacing: 20px; }

.sheliak-start-heading { margin-bottom: 8px; font-weight: bold; }

.sheliak-start-results { spacing: 2px; }

.sheliak-start-app { padding: 6px; border-radius: 5px; }

.sheliak-start-app-content { spacing: 8px; }

.sheliak-start-app:hover, .sheliak-start-app:focus,
.sheliak-start-tile:hover, .sheliak-start-tile:focus { background-color: st-transparentize(-st-accent-color, 0.8); }

.sheliak-start-tile { width: 82px; height: 82px; padding: 4px; margin: 3px; border-radius: 6px; }

.windows10 .sheliak-start-tile { background-color: st-transparentize(-st-accent-color, 0.65); border-radius: 0; }

.windows10 .sheliak-start-tile.tile-small { width: 34px; height: 34px; }

.windows10 .sheliak-start-tile.tile-medium { width: 82px; height: 82px; }

.windows10 .sheliak-start-tile.tile-wide { width: 178px; height: 82px; }

.windows10 .sheliak-start-tile.tile-large { width: 178px; height: 178px; }

.sheliak-start-tile .sheliak-start-app-content { spacing: 8px; }

.sheliak-start-footer { padding-top: 12px; spacing: 12px; border-top: 1px solid rgba(128,128,128,0.25); }

.sheliak-menu {
  min-width: 220px;
}

.sheliak-panel-menu .popup-menu-content {
  min-width: 240px;
}

.sheliak-category-menu {
  -boxpointer-gap: 8px;
}
